/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)  { */

    * {
        padding: 0;
        margin: 0;
        width: max-content;
        border: 3px solid rgba(255, 0, 0, 0);
    }
    
    body {
        font-family: 'Roboto', sans-serif;    
    }

    header {
        width: 100%;
    }

    h1 {
        font-size: 1.8em;
        width: max-content;
        max-width: 100%;
    }
 

    h2 {
        font-size: 1.5em;
    
    }

    h3 {
        width: max-content;
        max-width: 98%;
    }

    h6 {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
    }

    ul {
        width: 95%;
    }

    li {
        margin-left: 20px;
        width: 90%
    }

    a {
        text-decoration: none;
        color: rgb(235, 90, 70);
    }

    a:hover {
        text-decoration: underline;
    }
    a:active {
        color: white;
        background-color: black;
    }
    
    p {
        width: 100%;
        margin: 3px 0;
    }

    p.caption {
        display: inline-block;
        width: 100px;
    }

    .code {
        display: block;
        font-family: monospace;
        word-break: break-all;
    }

    .black {
        color: black;
    }

    #wrapper {
        display: flex;
        flex-direction: row;
        width: 97vw;
    }

    #left-container{
        
        width: 15%;
        min-width: 150px;
        height: 98vh;
        margin: 0 .5vw;
        /* border: 2px solid lightblue; */ 
    }

    #right-container{
        
        width: 90%;
        max-width: 1200px;
        height: 90vh;
        margin: 0px;
    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-content {
        width: 94%;
        height: 90vh;
        overflow-y: scroll;
        padding: .25vw 2vw .25vw .5vw;
    }

    .mini-sketch {
        display: inline-block;
        text-align: center;
    }

    .mini-sketch > img {
        width: 250px;
    }

    
    #hamburger {
        /* width: max-content; */
        display: none;
    }
    
    .patty {
        border: 1px solid gray;
        width: 10px;
        margin: 2px auto;
        border-radius: 2px;
    }
    
    
    .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: max-content;
        list-style: none;
        margin: -4px 0;

    }
    
    .yolo-style {
        background-color: none;
        font-size: 14px;
        color: hsla(0, 0%, 0%, 0);
        border: 3px solid hsla(10, 0%, 0%, 0);
        position: relative;
    }


    h5.work {
        margin: 5px 0 5px 20px;
        font-size: calc(.9em + .5vw);
        width: unset;
    }

    h6.work {
        margin: 5px 0 5px 20px;
        font-size: calc(.6em + .75vw);
        width: unset;
    }

    .artist {
        text-decoration: underline;
        font-size: calc(.8em + .5vw);
    }