/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)  { */

    * {
        padding: 0;
        margin: 0;
        width: max-content;
        border: 3px solid rgba(255, 0, 0, 0);
    }
    
    body {
        font-family: 'Roboto', sans-serif;    
    }
    
    header {

    }
    
    h1 {
        font-size: 1.8em;
    }

    h6 {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
    }
    
    h2 {
        font-size: 1.4em;
    
    }
    
    h1, h2 {
        /* text-align: center; */
    }
    
    #hamburger {
        /* width: max-content; */
        display: none;
    }
    
    .patty {
        border: 1px solid gray;
        width: 10px;
        margin: 2px auto;
        border-radius: 2px;
    
    }
    
    #dropdown-menu {
    
    }
    
    .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        list-style: none;
        margin: -4px 0;

        
    }
    
    .yolo-style {
        background-color: none;
        font-size: 10px;
        color: hsla(0, 0%, 0%, 0);
        border: 3px solid hsla(10, 0%, 0%, 0);
        position: relative;
    }